<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <!-- <h1>My Store</h1> -->
      <a class="navbar-brand" routerLink="">My Store</a>
      <img src="assets/cart.png" width="50" height="50" class="d-inline-block align-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav" >
        <ul class="navbar-nav">
          <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]= "{exact:true}" >
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li> -->
          
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]= "{exact:true}">
            <a class="nav-link" routerLink="">Product</a>
          </li> 
          <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]= "{exact:true}">
            <a class="nav-link" routerLink="checkout" tab index="-1" aria-disabled="true">checkout</a>
          </li>
           <li class="nav-item">
            <button type="button" class="btn btn-warning">My cart</button>
          </li> 
        </ul>
      </div>
    </nav>