<app-header></app-header>
<div class="container wrapper"  >
  <!-- <app-product-list></app-product-list> -->
  <router-outlet></router-outlet>
<!-- <app-search></app-search>
<div class="row box">
  <app-product *ngFor="let item of products"  [product]="item" class="col-4"></app-product> -->
  <!-- [product]="products[0]" changes to loop *ngFor -->
  <!-- [product]="productFeature changes to array-->
  <!-- [property=propertyFeature]="productFeature" gives error so use @input in product component.ts  -->
  <!-- <app-product [product]="productFeature" class="col-4"></app-product> -->
  <!-- <app-product [product]="products[1]" class="col-4"></app-product>
  <app-product [product]="products[2]" class="col-4"></app-product> -->

  <!-- <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/bag.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fast track $75</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/sandal.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Woodland $40</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/headphone.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony $40</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/headphone.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony $40</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/headphone.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony $40</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
</div> -->
</div>
<div class="card">
  <app-footer></app-footer>
  <p>{{products}}</p>
</div>